.commodity-detail-wrap{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2200;
    transition: all .25s ease;
    opacity: 1;
    /* display: none; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.commodity-detail{
    height: 100%;
    width: 800px;
    min-width: 800px;
    max-width: 800px;
    background-color: #fff;
    position: relative;
}
.commodity-detail .change-attribute{
    cursor: pointer;
}
.commodity-detail-full{
    width: calc(100vw - 6px);
    min-width: calc(100vw - 6px);
    max-width: calc(100vw - 6px);
}
/**commodity detail header */
.commodity-detail .ms-popup__header{
    height: 100px;
}

.commodity-detail .ms-popup-title{
    padding-left: 20px;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
}
.commodity-detail .popup-title{
    font-size: 16px;
    font-family: MISANotoSans-Bold;
    margin-bottom: 8px;
}
.commodity-detail .popup-title-detail{
    display: flex;
    align-items: center;
}
.commodity-detail .sub-title{
    font-size: 20px;
    margin: 0px 8px 0px 14px;
}
.commodity-detail .change-attribute{
    color: #308ccd;
}
/**commodity detail content */
.commodity-detail-content{
    padding: 0 20px 0 20px;
    overflow-y: auto;
    height: calc(100vh - 174px);
}
.commodity-detail-content .row-input{
    padding-bottom: 6px;
}
.commodity-detail-content .main-unit{
    padding-bottom: 20px;
}
.commodity-detail-content .sell-description{
    padding-bottom: 20px;
}
.commodity-feature{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.commodity-feature-text{
    font-size: 16px;
}
.content-drop-section{
    display: none;
    opacity: 0;
}
.content-drop-section--show{
    display: flex;
    opacity: 1;
    animation: fadeIn .5s;
}
.unit-section{
    flex-direction: column;
}
.unit-section-title{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.unit-section-title .text{
    margin-left: 8px;
    font-style: italic;
    color: #757575;
}
/**table unit*/
 /**table*/
 .unit-table .ms-table-wrap{
    overflow: auto;
}
.unit-table .ms-table tbody td{
    height: 40px;
    min-width: 150px;
    z-index: 10;
}
.unit-table .ms-thead tr th:last-child, .unit-table tbody tr td:last-child{
    width: 40px ;
    min-width: 40px;
    max-width: 40px;
}
.unit-table tbody tr td:nth-child(4){
    background-color: #f8f8f8 !important;
}
.unit-table tbody tr td:nth-child(4) .ms-input__input input{
    background-color: #f8f8f8 !important;
    border: none;
    outline: none;
    pointer-events:none;
}
.commodity-detail .space-insert{
    height: 100px;
    visibility: hidden;
}

/**commodity detail footer */
.commodity-detail .popup-footer-divide{
    height: 4px;
    background: #f4f5f8;
    width: 100%;
    margin:0;
    border:none;
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}



