.ms-button{
    border-radius: 3px;
    /* height: 36px; */
    font-weight: 600;
    cursor: pointer;
    /* box-sizing: border-box; */
    padding:8px 20px;
    transition: all .2s ease;
    white-space: nowrap;
}
.ms-button-around{
    border-radius: 30px !important;
    height: 36px;
    box-sizing: border-box;
}
.ms-button-primary{
    color: #fff;
    background-color: #2ca01c;
}
.ms-button-primary:hover{
    background-color:#35bf22;
}

.ms-button-primary:active{
    background-color: #2ca01c;
}

.ms-button-secondary{
    background-color: transparent;
    border: 1px solid #8d9096;
    color: #111;
}
.ms-button-secondary:hover{
    background-color: #d2d3d6;
}
.ms-button-secondary:active{
    background-color: #bbbcbc;
}
/**button around with dropdown*/
.ms-button-content{
    display: flex;
    align-items: center;
}
/**button disable*/
.ms-button--disabled{
    border: 1px solid #b1b2b3;
    background: 0 0;
    color: #afafaf;
    cursor: not-allowed;
}
/**buttom custom*/
.base-button-custom{
    display: flex;
    align-items: center;
    height: 36px;  
    position: relative;
}

.button-custom-left{
    border-radius: 30px 0 0 30px;
    height: 36px;
    padding: 8px 14px 8px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.button-custom-right{
    border-radius: 0 30px 30px 0;
    width: 46px;
    height: 36px;
    padding: 8px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-custom-right .line{
    right: 45px;
    height: 20px;
    top: 8px;
    position: absolute;
    border: 1px solid transparent;
    border-left-color: #fff;
}   
.buttom-custom-text{
    font-weight: 600;
}



