
.ms-dropdown-label{
    margin-bottom: 4px;
    font-weight: 700;
}
.ms-dropdown{
    display: flex;
    height: 32px;
    width: 200px;
    min-height: 32px;
    border: 1px solid #babec5;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.ms-dropdown .selected-options{
    flex:1;
    padding:6px 0 6px 12px;
    box-sizing: border-box;
}

.ms-dropdown .dropdown-icon{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.ms-dropdown .dropdown-icon:hover{
    background-color: #e0e0e0;
}

.selected-options__list{
    width: 200px;
    padding:2px 0;
    box-sizing: border-box;
    position: absolute;
    list-style-type: none;
    top: 32px;
    left:-1px;
    z-index:900;
    margin:0;
    background-color: #fff;
    border: 1px solid #babec5;
    display: none;
}
.seleted-options--active{
    border: 1px solid #2ca01c;
}
.selected-options--show .selected-options__list{
    display: block;
}
.selected-options--show .dropdown-icon .mi-arrow-dropdown{
    transform: rotate(180deg);
    transition: transform .15s linear;
}

.selected-options__item{
    height: 32px;
    padding-left: 10px;
    padding-right: 14px;
    line-height: 32px;
}
.selected-options__item:hover{
    color: #43ca54;
    font-weight: 600;
    background-color: #e8e9ec;
}
.selected-options__item.selected-options__item--active{
    background-color: #2ca01c;
    color: #fff;
}