.ms-input{
   display: flex;
   align-items: flex-start;
   position: relative;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
}
.ms-input__label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
    white-space: nowrap;
}
.ms-input__input{
    width: 100%;
    position: relative;
}
.ms-input__input input, .ms-input__input textarea{
    height: 32px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #babec5;
    outline: none;
    width: 100%;
    padding: 6px 10px;
}
.ms-input__input textarea{
    resize: none;
    height: 64px;
}
.ms-input--error input, .ms-input--error textarea{
    border: 1px solid red;
}

.ms-input__input:not(.ms-input--error) input:focus{
    border-color: #019160;
}
.ms-input__input:not(.ms-input--error) textarea:focus{
    border-color: #019160;
}

.ms-input__input input::placeholder, .ms-input__input textarea::placeholder{
    font-size: 12px;
    font-style: italic;
    font-family:  MISANotoSans-Regular !important;
}

.ms-input__icon--after{
   display: none;
}
.input-search .ms-input__icon--after{
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
}
.input-search .ms-input__input{
    width: 280px;
}
.input-search .ms-input__input input{
    padding-right: 26px;
}

.ms-input__error{
    position: absolute;
    top: 80%;
    left:50%;
    background-color:  #393a3d;
    color:#fff;
    text-align: center;
    transform: translate(-50%);
    height: 15px;
    padding:5px 10px;
    white-space: nowrap;
    line-height: 15px;
    z-index:100;
    display: none;
}
.ms-input__error--show{
    display: block;
}
.label--hidden .ms-input__label{
    visibility: hidden;
}

.ms-input--readonly .ms-input__input input{
    background-color: #eff0f2;
    pointer-events:none;
}