.ms-input{
   display: flex;
   align-items: flex-start;
   position: relative;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
}
.ms-input__label{
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
}
.ms-input__input{
    width: 100%;
}
.ms-input__input input{
    height: 32px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #babec5;
    outline: none;
    width: 100%;
    padding: 6px 10px;
}
.ms-input__input input:focus{
    border-color: #019160;
}
.ms-input__input input::placeholder{
    font-size: 12px;
    font-style: italic;
}

.ms-input__icon--after{
   display: none;
}
.input-search .ms-input__icon--after{
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
}
.input-search .ms-input__input{
    width: 240px;
}
.input-search .ms-input__input input{
    padding-right: 26px;
}