.ms-loading-wrap{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,.1);
    z-index: 1000;
    transition: all .25s ease;
    opacity: 1;
    display: none;
}
.ms-loading-wrap.ms-loading--show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-loading{
    background: url("../../assets/img/loading.svg") no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}