.ms-message-wrap{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 20000;
    transition: all .25s ease;
    opacity: 1;
    display: none;
}

.ms-message-wrap.ms-message--show{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ms-message{
    width: 444px;
    border-radius: 3px;
    background-color: #fff;
    padding: 32px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.message-content{
    flex:1;
    display: flex;
    white-space: normal;
}


.content__text{
    box-sizing: border-box;
    padding: 12px 0 0 16px;
    margin-bottom:32px;
}

.message-line{
    height: 1px;
    background: #b8bcc3;
    margin-bottom: 20px;
}

.message-footer{
    height: 36px;
    box-sizing: border-box;
   position:relative;
}

.center{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.left{
    float: left;
}

.right-second{
    float: right;
    margin-right: 10px;
}
.right-first{
    float: right;
   
}