.ms-pagination{
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.total-record{
    line-height: 46px;
    height: 46px;
    white-space: nowrap;
}

.ms-pagination--right{
    display: flex;
}

.ms-pagination-options{
    display: flex;
    height: 32px;
    width: 200px;
    min-height: 32px;
    border: 1px solid #babec5;
    border-radius: 2px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    margin: 0 16px;
}

.ms-pagination-options .selected-options{
    flex:1;
    padding:6px 0 6px 12px;
    box-sizing: border-box;
}

.ms-pagination-options .dropdown-icon{
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ms-pagination-options .dropdown-icon:hover{
    background-color: #e0e0e0;
}

.ms-pagination-options .selected-options__list{
    width: 200px;
    padding:2px 0;
    box-sizing: border-box;
    position: absolute;
    list-style-type: none;
    top: -150px;
    left:-1px;
    z-index:900;
    margin:0;
    background-color: #fff;
    border: 1px solid #babec5;
    display: none;
}
.seleted-options--active{
    border: 1px solid #2ca01c;
}
.selected-options--show .selected-options__list{
    display: block;
}
.selected-options--show .dropdown-icon .mi-arrow-dropdown{
    transform: rotate(180deg);
    transition: transform .15s linear;
}

.selected-options__item{
    height: 32px;
    padding-left: 10px;
    padding-right: 14px;
    line-height: 32px;
}
.selected-options__item:hover{
    color: #43ca54;
    font-weight: 600;
    background-color: #e8e9ec;
}
.selected-options__item.selected-options__item--active{
    background-color: #2ca01c;
    color: #fff;
}
.ms-pagination-page{
    display: flex;
    padding-right: 30px;
    align-items: center;
}
.ms-pagination-page .prev-page{
    margin-right: 13px;
    cursor: pointer;
}
.ms-pagination-page .page-number{
   
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    box-sizing: border-box;
    cursor: pointer;
}
.page-number.page--selected{
    border: 1px solid #e0e0e0;
    font-weight: 700;
    height: 20px;
}
.ms-pagination-page .next-page{
    margin-left: 13px;
    cursor: pointer;
}
.ms-pagination-page .disable{
    cursor: default !important;
    color: #9e9e9e;
}

/**readonly*/
.ms-pagination--readonly .ms-pagination-options{
    background-color: #eff0f2;
    pointer-events:none;
}