:root {
    --width-column-1: 40px;
    --width-column-2: 120px;
    --width-column-3: 200px;
    --max-width-column: 200px;
}


.ms-table-wrap{
    box-sizing: border-box;
    position: relative;
}
.ms-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.ms-thead th{
    border-right: 1px dotted #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    min-height: 34px;
    height: 34px;
    background-color: #eceef1;
    vertical-align: middle;
    padding: 0px 10px;
    box-sizing: border-box;
    position: sticky;
    top:0;
    z-index:800;
    max-width: var(--max-width-column);
}   
.ms-tbody{
    background-color: #fff;
}
.ms-tbody tr:hover td{
    background-color: #f8f8f8 !important;
    cursor: pointer;
}
.ms-tbody td{
    height: 47px;
    padding: 5px 10px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    box-sizing: border-box;
    background-color: #fff;
    max-width: var(--max-width-column);
    overflow-x: hidden;
    text-overflow: ellipsis;
}
/* CỘT ĐẦU */
.ms-table th:first-child {
    position: sticky;
    left: 0px;
    z-index: 1000;
    min-width: var(--width-column-1);
    width: var(--width-column-1);
}
.ms-table tr td:first-child {
    position: sticky;
    left: 0px;
    text-align: center;
}
.ms-table th:first-child::before,
.ms-tbody tr td:first-child::before {
    display: block;
    content: "";
    position: absolute; 
    width: 20px;
    height: calc(100% + 1px);
    background-color:#fff;
    top: 0;
    left: -20px;
}
/* CỘT THỨ 2 */
.ms-table th:nth-child(2) {
    position: sticky;
    left:var(--width-column-1);
    z-index: 1000;
    min-width: var(--width-column-2);
    width: var(--width-column-2);
}
.ms-table tr td:nth-child(2) {
    position: sticky;
    left: var(--width-column-1);
    min-width: var(--width-column-2);
    width: var(--width-column-2);
}
/**Cột thứ 3 */
.ms-table th:nth-child(3) {
    position: sticky;
    left: calc(var(--width-column-1) +var(--width-column-2));
    z-index: 1000;
    min-width: var(--width-column-3);
    width: var(--width-column-3);
}
.ms-table tr td:nth-child(3) {
    position: sticky;
    left: calc(var(--width-column-1) + var(--width-column-2));
    min-width: var(--width-column-3);
    width: var(--width-column-3);
}
/**CỘT CUỐI*/
 .ms-table tr td:last-child , .ms-table tr th:last-child{
    overflow-x: unset;
    text-overflow: unset;
    position: sticky;
    right: 0;
    border-left: 1px dotted #c7c7c7;
    width: 150px;
}
/**context menu in table*/
.row-context-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-context-menu__text{
    color: #0075c0;
    font-weight: 700;
}
.row-context-menu__icon{
    width: 26px;
    height: 16px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}



