.context-menu{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
   
}

.context-menu__text{
    font-weight: 600;
    color: #0075c0;
    cursor: pointer;
}
.context-menu-dropdown{
    width: 26px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.dropdown__content{
    z-index: 5;
    position:absolute;
    width: 120px;
    height: 90px;
    top:24px;
    right: -10px;
    border: 1px solid #c7c7c7;
    background-color: #fff;
    border-radius: 2px;
    padding: 2px 0px;
    box-sizing: border-box;
    color: #111;
    display: none;
}
.dropdown__content ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.dropdown__content li{
  height: 28px;
  padding: 5px 10px;
  white-space: nowrap;
  box-sizing: border-box;
}

.dropdown__content li:hover{
    color: #43ca54;
    font-weight: 600;
    background-color: #e8e9ec;
}

.dropdown--show.context-menu-dropdown{
    border: 1px solid #0075c0;
}

.dropdown--show .dropdown__content{
    display: block;
}
