.inward-detail{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
/*Header*/
.inward-detail-header{
    background-color: #f4f5f8;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 9px 16px;
    align-items: center;
}
.inward-detail-header .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-detail-input{
    display: flex;
    align-items: center;
}
.header-detail-input .combobox{
    width: 300px;
    background-color: yellowgreen;
    height: 36px;

}

.header-detail-button{
    display: flex;
    right: 9px;
    position: absolute;
    align-items: center;
}

/*Body*/
.inward-detail-body{
    flex: 1;
    background-color: white;
    overflow-y: auto;
}
    /**main infomation*/
    .main-infomation{
        background-color: #f4f5f8;
    }
    .summary-info{
        text-align: right;
    }
    /**table and paging*/
    .table-above{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        box-sizing: border-box;
        padding: 18px 0 18px 18px;
    }
    .tab-inward-detail{
    }
    /**grid control*/
    .btn-grid-control{
        display: flex;
        margin: 10px 0 32px;
    }
    .btn-grid-control .ms-button{
        border: 1px solid #8d9096;
        padding:2px 20px;
        height: auto;
        margin-right: 10px;
    }
    .input-grid-control .mi-attach-title{
        font-weight: 700;
        font-size: 12px;
        margin-left: 8px;
        margin-right: 15px;
    }
    .capacity-attach{
        color: #9e9e9e;
        font-size: 12px;
    }
    .input-attach-content{
        height: 48px;
        width: 338px;
        text-align: center;
        line-height: 48px;
        border: 1px solid #babec5;
        background: #fff;
        color: #9e9e9e;
        font-style: italic;
        font-size: 12px;
        margin-top: 6px;
    }



/*Footer*/
.inward-detail-footer{
    background-color: #38393d;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.inward-detail-footer .ms-button-secondary{
    color: white;
}

.left-group-button{
    display: flex;
    justify-content: flex-start;
}

.right-group-button{
    display: flex;
    justify-content: flex-end;
}