.inward-detail{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}
/*Header*/
.inward-detail-header{
    background-color: #f4f5f8;
    height: 54px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 9px 16px;
    align-items: center;
}
.inward-detail-header .title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 24px;
    margin-left:16px;
    margin-right: 50px;
    font-family: MISANotoSans-Bold;
}
.header-detail-input{
    display: flex;
    align-items: center;
}
.header-detail-input .ms-dropdown,.header-detail-input .selected-options__list{
    width: 300px;
}
.header-detail-input .combobox{
    margin-left: 8px;
    width: 300px;
    background-color: yellowgreen;
    height: 36px;

}

.header-detail-button{
    display: flex;
    right: 9px;
    position: absolute;
    align-items: center;
}
.header-detail-button .button-group{
    width: 36px;
    height: 36px;
    display: flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
}   
.header-detail-button .button-group:hover{
    background-color: #ccc;
}
.header-detail-button .tour-label{
    color: #0075c0;;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 4px;
}
.header-detail-button .button-setting{
   margin-left: 8px;
}

/*Body*/
.inward-detail-body{
    flex: 1;
    background-color: white;
    overflow-y: auto;
}
    /**main infomation*/
    .main-infomation{
        background-color: #f4f5f8;
        box-sizing: border-box;
        padding: 0 24px;
    }
    .main-infomation .reference-title{
        margin-right: 16px;
        padding-bottom:12px;
    }
    .main-infomation .row-input-right{
        border-left: 1px solid #d4d7dc;
        padding-left: 16px;
        box-sizing: border-box;
        padding-right:25px;
        width: 100%;
        display: flex;
        padding-bottom:12px;
    }
    .main-infomation .voucher-number{
        padding-bottom:0px;
    }
    .summary-info{
        text-align: right;
    }
    .summary-info-number{
        font-family: MISANotoSans-Bold;
        font-size: 36px;
        font-weight: 700;
    }
    /**table and paging*/
    .tab-inward-detail{
        padding: 0 24px;
    }
    .table-above{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 68px;
        box-sizing: border-box;
        padding: 18px 24px;
    }
    .table-above-control{
        display: flex;
        align-items: center;
    }
    .table-above-control .ms-dropdown{
        margin-left: 16px;
    }
    .table-above-title{
        font-weight: 700;
    }
    /**grid control*/
    .grid-control-item{
        padding: 0 24px;
    }
    .btn-grid-control{
        display: flex;
        margin: 10px 0 32px;
    }
    .btn-grid-control .ms-button{
        border: 1px solid #8d9096;
        padding:2px 20px;
        height: auto;
        margin-right: 10px;
    }
    .input-grid-control .mi-attach-title{
        font-weight: 700;
        font-size: 12px;
        margin-left: 8px;
        margin-right: 15px;
    }
    .capacity-attach{
        color: #9e9e9e;
        font-size: 12px;
    }
    .input-attach-content{
        height: 48px;
        width: 338px;
        text-align: center;
        line-height: 48px;
        border: 1px solid #babec5;
        background: #fff;
        color: #9e9e9e;
        font-style: italic;
        font-size: 12px;
        margin-top: 6px;
    }



/*Footer*/
.inward-detail-footer{
    background-color: #38393d;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.inward-detail-footer .ms-button-secondary{
    color: white;
}

.left-group-button{
    display: flex;
    justify-content: flex-start;
}

.right-group-button{
    display: flex;
    justify-content: flex-end;
}