.content-tab{
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    box-sizing: border-box;
}
.warehouse {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
